Here is a model's answer to a multiple choice problem:

{{student_solution}}

======end of model's solution=======

And the ground answer is: {{correct_solution}}.

## Your task: Answer in [YES], [NO] whether the model's answer is equivalent to the ground truth and answer [UNKNOWN] if the model does not provide an answer. (keep the '[' and ']')
-Output format: (1). Model's answer (extracted) or [UNKNOWN], (2). ground truth answer, (3). [YES]|[NO]|[UNKNOWN]